.Select {
  text-align: center;
}

.Select h2 {
  font-size: 45px;
  margin: 0 0 20px 0;
}

.Select .selection select {
  background-color: rgba(146, 200, 255, 0.809);
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(146, 200, 255, 0.809);
  box-shadow: 5px 5px 5px rgba(74, 110, 72, 0.451);
  transition: all 200ms ease-in-out;
}

.Select .selection select:hover {
  background-color: white;
}

.Select h3 {
  margin: 10px;
  font-size: 24px;
}

.Select .checksTypeOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Select .checksTypeTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.Select .checks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Select .Cleaning .check {
  margin: 10px;
}

.Select .Shopping .check,
.Select .Morning .check,
.Select .Night .check {
  font-size: 20px;
}
