.Shopping h3 {
  margin: 10px;
  font-size: 24px;
}

.Shopping h4 {
  font-size: 18px;
}

.Shopping .checksTypeOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Shopping .checksTypeTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}
